
@import './base.css';

#player-app {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #838383;
  }
}
